@charset "UTF-8";

html {
	padding: 0px;
	margin: 0px;
}

a:link, a:visited {
    color: #000;
    text-decoration: none;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

ol, ul {
    list-style: none;
}

div {
    display: block;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

ul.carList {
    margin-top: 60px;
}

ul.carList > li:not(:nth-child(3n)) {
    margin-right: 28px;
}

ul.carList > li {
    display: inline-block;
    vertical-align: top;
    width: 376px;
    height: 466px;
    border: 1px solid #dee6ec;
    margin-bottom: 25px;
}

#carbox {
    display: block;
    width: 100%;
    height: 240px;
}

#cartext {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.listTitle{
    color: #404040;
    font-size: 18px;
    font-weight: 600;
    font-family: 'nanum-square-r';
    line-height: 26px;
    letter-spacing: 1px;
}

.listLabel {
    color: #ec2a1c;
    font-size: 32px;
    font-weight: 600;
    font-family: 'nanum-square-r';
    line-height: 42px;
}

.carTitle > span.point {
    color: #ec2a1c;
    display: inline-block;
}

#cartext p.listLink {
    width: 172px;
    height: 45px;
    line-height: 45px;
    background-color: #ec2a1c;
    color: #fff;
    font-size: 18px;
    margin: 20px auto 20px;
}

#centerimg {
    display: block;
    width: 1250px;
    margin: 0 auto;
}

.mainvisual {
    background-image: url(/resources/img/main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 580px;
    margin-bottom: 60px;
}

section.carSection ul.carList {
    margin-top: 60px;
}

h2.carTitle {
    color: #404040;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -1px;
    text-align: center;
}

.car1 {
	background-image: url(/resources/img/icon-kit1.png)
}

.car2 {
	background-image: url(/resources/img/icon-kit2.png)
}

.car3 {
	background-image: url(/resources/img/icon-kit3.png)
}

.car4 {
	background-image: url(/resources/img/icon-kit4.png)
}

.car5 {
	background-image: url(/resources/img/icon-kit5.png)
}

.car6 {
	background-image: url(/resources/img/icon-kit6.png)
}

#centertext {
    display: block;
    width: 100%;
}

label {
    cursor: default;
}

button {
    overflow: visible;
    padding: 0;
    border: 0;
    background: transparent;
    white-space: nowrap;
    cursor: pointer;
}

.calenderLabel {
	padding-top: 488px;
	margin: 0, auto;
}

.searchLabel {
	display: inline-block;
	height: 60px;
    padding: 0 20px 0 8px;
    position: relative;
}

.search {
	display: inline-block;
	height: 60px;
	line-height: 60px;
	padding: 0 20px 0 8px;
	position: relative;
    margin-top: 0;
}

.searchCategory {
    text-align: left;
}

select {
	width: 190px;
	height: 23px;
}
